{
  "default": "${v_default}",
  "input": "${v_input}",
  "script": {
    "python": "${v_python}",
    "kotlin": "${v_kotlin}"
  },
  "db": "${v_db.get(0).value}",
  "rest": {
    "GET": "${v_get}",
    "POST": "${v_post}",
    "PUT": "${v_put}",
    "PATCH": "${v_patch}",
    "DELETE": "${v_del}"
  }
}
